# Created by https://www.toptal.com/developers/gitignore/api/linux
# Edit at https://www.toptal.com/developers/gitignore?templates=linux


# temporary files which can be created if a process still has a handle open of a deleted file
.git-credentials
.gitconfig
.passwd-s3fs

# jupyter session config
.aws/
.git/

# EOF
