# base environment update with Jupyterlab installation
# this environment has also additional tools available

name: base
channels:
  - conda-forge # default repo for miniforge3

dependencies:
  - python=3.12 # make sure we have correct python version
  - pip # package manager

  ## jupyterlab extensions
  - nb_conda # provides conda environment and package access extension from jupyter
  - nb_conda_kernels # ability to add kernels (available only via conda)

  ## environment monitoring
  - nvtop # nvidia gpu monitoring tool (must be available everywhere)

  - pip:

    ## system monitoring
    - glances[gpu] # system web monitoring tool
    - nvidia-ml-py3 # needed by glances to monitor GPU
    - gpustat # gpu status reporting tool
    - tensorboard # tensorflow experiment tracking

    ## jupyterlab and language server
    - jupyterlab # makes sure latest jupyterlab is installed
    - jupyterhub # to install jupyterhub and allow lab in hub mode
    - jupyterlab-lsp # language server extension
    - jupyter-server-proxy # advanced proxy for additional services when running hub
    - jupyterlab-git # enables git extension for jupyterlab
    - nbconvert # notebook conversion to HTML and other formats

    ## jupyterlab extensions packages
    - jupytext # lightweight notebook over .py files
    - jupyter-client # latest client
    - python-lsp-server[all] # install autocompleter extentions
    - jupyterlab-code-formatter # proxy to code formatting like black or isort
    - jupyter-resource-usage # enables cpu and mem monitoring
    - jupyterlab-execute-time # shows last execution time / not available via conda
    - jupyterlab_favorites # allows to define favourite locations / not available via conda
    - jupyterlab_iframe # allows opening webpages in iframe
    - jupyter_app_launcher # allows adding custom launchers
    - jupyterlab_zip_extension # zip archive and unarchive
    - jupyterlab_close_all_tabs_extension # extension to explicitly close open tabs
    - jupyterlab_doc_reader_extension # extension for reading docx files (as pdfs)
    - jupyterlab_refresh_view_extension # extension to refresh MD and code when modified in the bg
    - jupyterlab_tabular_data_viewer_extension # extension for viewing parquet, csv, tsv, excel files
    - jupyterlab_mmd_to_png_extension # extension to export mermaid diagrams to png
    - jupyterlab_notifications_extension # JH->JL notifications system integration
    - jupyterlab_makefile_file_type_extension # support for Makefiles in Jypyterlab
    - jupyterlab_github_markdown_alerts_extension # support for GitHub style alerts in markdowns
    - jupyterlab_markdown_viewer_toc_fix # fix to the issue with markdowns and TOC and internal links
    - jupyterlab_markdown_switch_tab_scrolling_fix # fix scrolling position when switching markdown tabs
    - jupyterlab_markdown_insert_content_extension # extension to add content like TOC to markdowns
    - notebook-intelligence # github copilot plugin

    ## themes
    - stellars-jupyterlab-sublime-theme # dark gray-blue theme based on intellij, fixed scrollbars
    - stellars-jupyterlab-darcula-theme # gray IntelliJ darcula theme based on original darcula

    ## other libraries
    - black # pragmatic code formatter
    - nbdime # tool for diffing and merging jupyter notebooks
    - cookiecutter # projects directory + resources template (ds projects)

    # EOF

