# base environment update with Jupyterlab installation
# this environment has also additional tools available

name: base
channels:
  - conda-forge # default repo for miniforge3

dependencies:
  - python=3.12 # make sure we have correct python version
  - pip # package manager
  - setuptools=80.9 # FIX (2026-02-09): nb_conda requires pkg_resources, removed in setuptools 82

  ## jupyterlab extensions
  - nb_conda # provides conda environment and package access extension from jupyter
  - nb_conda_kernels # ability to add kernels (available only via conda)

  ## environment monitoring
  - nvtop # nvidia gpu monitoring tool (must be available everywhere)

  - pip:

    ##
    - uv # rust based uptrafast package manager and virtual environment system

    ## system monitoring
    - gpustat # gpu status reporting tool
    - tensorboard # tensorflow experiment tracking

    ## jupyterlab and language server
    - jupyterlab # makes sure latest jupyterlab is installed
    - jupyterhub # to install jupyterhub and allow lab in hub mode
    - jupyterlab-lsp # language server extension
    - jupyter-server-proxy # advanced proxy for additional services when running hub
    - jupyterlab-git # enables git extension for jupyterlab
    - nbconvert # notebook conversion to HTML and other formats

    ## jupyterlab extensions packages
    - jupytext # lightweight notebook over .py files
    - jupyter-client # latest client
    - python-lsp-server[all] # install autocompleter extentions
    - jupyterlab-code-formatter # proxy to code formatting like black or isort
    - jupyter-resource-usage # enables cpu and mem monitoring
    - jupyterlab-execute-time # shows last execution time / not available via conda
    - jupyterlab_favorites # allows to define favourite locations / not available via conda
    - jupyterlab_iframe # allows opening webpages in iframe
    - jupyter_app_launcher # allows adding custom launchers

    # stellarshenson extensions
    - stellars-jupyterlab-extensions # bundle of all stellars jupyterlab extensions
    - stellars-jupyterlab-fixes # bundle of all stellars jupyterlab hotfixes
    - nb_venv_kernels # kernelspec manager developed to handle all virtual environments
    - notebook-intelligence # github copilot plugin

    ## themes
    - stellars-jupyterlab-sublime-theme # dark gray-blue theme based on intellij, fixed scrollbars
    - stellars-jupyterlab-darcula-theme # gray IntelliJ darcula theme based on original darcula

    ## widgets needed for interactive displays
    - ipywidgets
    - jupyterlab_widgets 
    - widgetsnbextension

    ## other libraries
    - black # pragmatic code formatter
    - nbdime # tool for diffing and merging jupyter notebooks
    - cookiecutter # projects directory + resources template (ds projects)

    # EOF

